@import '~antd/dist/antd.css'; 

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.page-header {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
}
.movierow{
  display: flex;
  flex-direction: row;
  width: 1200px;
}

.cardlist{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card{
  width: 100%;
}

.imagecard{
  width: fit-content;
}

.auth-page{
  justify-content: center;
  justify-items: center;
}
.auth-tab{
  width: 50%;
  justify-self: center;
  margin-left: 25%;
  margin-right: 25%;
}
.login-card{
  justify-self: center;
}

.submit {
  align-self:center;
}
p{
  word-break: break-all;
  white-space: pre-wrap;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
